<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CITesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B19316F1CEED5E20083ADC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B1931831CEED5E30083ADC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B19318E1CEED5E30083ADC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
